extends layout

block content
    h1= title
    br
    #container
        #shopping-cart-counter
            span ShoppingCart
            br
        #product-list
            table
                thead
                    th Product Name
                    th Price
                    th Stock Amount
                    th Action
                    th Delete?
                tbody

        #shopping-cart
            #shopping-cart-items
                table
                    thead
                        th Product Name
                        th Action
                    tbody

        // ADD Product
        #addProductPanel
            h2 Add Product
            #addProduct
                fieldset
                    input#inputProductName(type='text', placeholder='Product Name')
                    input#inputProductPrice(type='text', placeholder='Price')
                    input#inputProductStockAmount(type='text', placeholder='Stock Amount')
                    input#inputProductAction(type='text', placeholder='Action')
                    br
                    button#btnAddProduct Add Product

        // UPDATE Product
        //#updateProductPanel
        //    h2 Update Product
        //    #updateProduct
        //        fieldset
        //            input#updateProductName(type='text', placeholder='Product Name')
        //            input#updateProductPrice(type='text', placeholder='Price')
        //            input#updateProductStockAmount(type='text', placeholder='Stock Amount')
        //            input#updateProductAction(type='text', placeholder='Action')
        //            br
        //            button#btnUpdateProduct Update Product
        //            //button#btnCancelUpdateProduct Cancel Product